:root {
  --gray: #646464;
  --onyx: #121212;
  --platinum: #F2F2F2;
  --purple: #5115F7;
}


html.casper .outer {
  padding: 0 24px;
}
html.casper .inner {
  max-width: 1440px;
}


/* Grid */
.grid-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}
.grid-inner {
  padding: 0 24px;
}
@media (min-width: 900px) {
  .grid-inner {
    padding: 0 calc(100% / 12)
  }
}

/* Homepage Post Feed */
html.casper .post-feed {
  margin: 0;
  padding: 0;
}

/* Single Post Page */
html.casper .post-template .site-main,
html.casper .site-main.no-bottom-padding {
  padding-bottom: 0;
}

.grid-post .post-header {
  grid-area: header;
}
.grid-post .post-content {
  grid-area: content;
  max-width: 100%;
}
.grid-post .post-meta {
  grid-area: meta;
}

.grid-post {
  display: grid;
  grid-template-areas:
  'header'
  'meta'
  'content';
}

@media (min-width: 900px) {
  .grid-post {
    gap: 24px;
    grid-template-areas:
    'meta meta meta meta header header header header header header header header'
    'meta meta meta meta content content content content content content content content';
    grid-template-columns: repeat(12, 1fr);
  }
}

.post-full {
  margin-top: 50px;
  padding-bottom: 4vw;
}

.post-full h2[id],
.post-full h3[id],
.post-full h4[id] {
  scroll-margin-top: 64px;
}

html.casper .post-full-tags {
  margin-bottom: 26px;
}

html.casper .post-full-tags a {
  color: var(--gray);
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: none;
}

html.casper .post-full-tags a:hover {
  text-decoration: underline;
}

html.casper .post-full-tags .breadcrumb-home {
  font-weight: 400;
  text-transform: uppercase;
}
html.casper .post-full-tags .breadcrumb-home:after {
  content: "/";
  display: inline-block;
  font-weight: 300;
  margin: 0 .5rem;
}

html.casper .post-full-byline {
  border-top: none;
  margin-top: 26px;
  padding-top: 0;
}

html.casper .post-full-byline-meta {
  align-items: baseline;
  display: flex;
}

html.casper .post-full-byline-meta .byline-meta-content {
  color: #000;
  font-size: 1.4rem;
  margin-left: 10px;
}

html.casper .post-full-byline-meta h4 {
  color: var(--onyx);
  font-size: 1.4rem;
}

html.casper .post-full-header {
  padding: 0 0 32px;
  margin: 0;
}

html.casper .post-full-custom-excerpt {
  color: var(--gray);
  font-family: inherit;
}

html.casper .post-full-image {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

/* Single post Table of Contents */
html.casper aside.toc {
  background:none;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
}

html.casper aside.toc h2 {
  color: var(--onyx);
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: inherit;
}

html.casper aside.toc ul.list {
  padding-left: 0;
}

html.casper aside.toc li {
  padding-left: 0;
}

html.casper aside.toc li a::before {
  display: none;
}

html.casper aside.toc li a {
  color: var(--onyx) !important;
}

html.casper aside.toc li a:hover {
  color: var(--onyx) !important;
  border-color: var(--onyx) !important;
}

html.casper aside.toc li a.active {
  color: var(--purple) !important;
  border-bottom: none;
  font-weight: 400;
}

/* Read Next/Prev Section */
html.casper .read-next {
  background: var(--onyx);
  border-bottom: 4px solid #fff;
}

/* Footer */
html.casper .site-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

html.casper .site-footer-content {
  color: #fff;
  font-size: 1.4rem;
}

html.casper .site-footer-content a {
  color: #fff;
  line-height: 0;
  margin-left: 30px;
}

html.casper .site-footer-content .twitter {
  margin-top: 2px;
}

html.casper .site-footer-content a:hover {
  text-decoration: underline;
}

html.casper .site-footer-nav a:before {
  display: none;
}


/* Subscribe section */
html.casper .subscribe-form {
  background: var(--platinum);
  margin: 0;
  padding: 0;
  border: none;
  text-align: inherit;
}

.subscribe-form .inner {
  padding: 50px 0 90px;
}

html.casper .subscribe-form-title {
  color: var(--onyx);
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4.4rem;
}

html.casper .subscribe-form-description {
  color: var(--onyx);
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}

html.casper .subscribe-form form {
  margin: 0;
  max-width: none;
  align-items: flex-start;
}

html.casper .subscribe-email {
  background: var(--platinum);
  border: 1px solid var(--gray);
  border-width: 0 0 1px;
  border-radius: 0;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--gray);
  padding: 0;
}

/* Same as .btn with added overrides */
html.casper .subscribe-form button {
  background: var(--onyx);
  border: 1px solid var(--onyx);
  border-radius: 100rem;
  color: #fff;
  display: inline-block;
  font-family: 'Maison Neue';
  font-size: 1.4rem;
  line-height: 2rem;
  text-transform: uppercase;
  padding: 8px 60px;
  margin: 2rem 0 0;
  height: auto;
  line-height: auto;
  font-weight: 700;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

@media (min-width: 501px) {
  html.casper .subscribe-form button {
    margin: 0 0 0 25px;
  }
}

html.casper .subscribe-form button:hover,
html.casper .subscribe-form button:active,
html.casper .subscribe-form button:focus {
  color: var(--onyx);
  background: #fff;
}


html.casper .subscribe-form .success .message-success,
html.casper .subscribe-form .success .message-error {
  color: inherit;
  text-align: left;
  max-width: none;
  margin: 1em 0 0;
}

html.casper .subscribe-overlay .subscribe-form {
  text-align: left;
}

html.casper .subscribe-overlay .subscribe-form form {
  margin-top: 3rem;
}

html.casper .subscribe-overlay-title {
  font-weight: 400;
}

html.casper .subscribe-overlay-description {
  margin-bottom: 1em;
  font-family: inherit;
  opacity: 1;
}

html.casper .subscribe-overlay-description a {
  color: #fff;
  box-shadow: #fff 0 -1px 0 inset;
}

html.casper .subscribe-overlay .subscribe-email {
  border-radius: 0;
  padding: 0;
  background: transparent;
  border-bottom: 1px solid #fff;
  font-weight: 300;
  color: #fff;
}

html.casper .subscribe-overlay .subscribe-email::placeholder {
  color: #999;
}

html.casper .subscribe-overlay button {
  color: #fff;
  border-color: #fff;
}

/* Tag and Author Header */
html.casper .site-header-content .site-title {
  font-size: 6rem;
  line-height: 6.8rem;
  color: var(--onyx);
  font-weight: 300;
  text-align: left;
}

html.casper .site-archive-header .no-image .site-description {
  font-weight: 400;
  color: var(--gray);
}

html.casper .site-archive-header .no-image .site-header-content {
  border-bottom: none;
}

html.casper .author-header-content {
  display: block;
  margin: 0;
}

html.casper .site-archive-header .no-image .author-header {
  padding-bottom: 10px;
}

/* Careers Page */
html.casper .careers-expandable-sections__left-grid,
html.casper .careers-expandable-sections__section-preview {
  padding: 48px 24px;
}

@media (min-width: 900px) {
  html.casper .careers-expandable-sections__left-grid {
    padding: 64px 24px 64px calc(100vw / 12);
  }
  html.casper .careers-expandable-sections__right-grid {
    padding-right: calc(100vw / 12);
  }
  html.casper .careers-expandable-sections__section-preview {
    padding: 64px 24px;
    height: 800px;
  }
  html.casper .careers-expandable-sections__section-preview-half {
    height: 400px;
  }
}

html.casper .careers-contact {
  background: linear-gradient(to bottom, var(--onyx) 0%, var(--onyx) 50%, var(--purple) 50%, var(--purple) 100%);
}

@media (min-width: 900px) {
  html.casper .careers-contact {
    background: linear-gradient(to right, var(--onyx) 0%, var(--onyx) 50%, var(--purple) 50%, var(--purple) 100%);
  }
}

/* Error Pages - 404 */
html.casper .error-code {
  color: var(--onyx);
  font-weight: 300;
  font-size: 4.8rem;
  letter-spacing: inherit;
  opacity: 1;
}

html.casper .error-content {
  display: flex;
  padding: 64px 0 0;
}

@media (min-width: 768px) {
  html.casper .error-content {
    background: linear-gradient(to right, #fff, #fff 50%, var(--onyx) 50%, var(--onyx) 100%);
  }
}

.error-content-inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

@media (min-width: 768px) {
  .error-content-inner {
    flex-direction: row;
  }
}

html.casper .error-message {
  background: var(--onyx);
  border-bottom: none;
  color: #fff;
  text-align: left;
  padding: 24px;
}

@media (min-width: 768px) {
  html.casper .error-message {
    background: none;
    padding: 10vh 100px 0 10vh;
    width: 50%;
  }
}

html.casper .error-description {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  html.capser .error-description {
    font-size: 3.6rem;
  }
}

html.casper .error-code-wrap {
  padding: 68px 24px 24px;
}

@media (min-width: 768px) {
  html.casper .error-code-wrap {
    padding: 10vh 0 0 10vh;
    width: 50%;
  }
}

/* Backgrounds */
.background-onyx {
  background: var(--onyx);
}

.background-platinum {
  background: var(--platinum);
}